absl-py==0.1.13
astor==0.6.2
attrs==17.4.0
backcall==0.1.0
bleach==1.5.0
boto3==1.7.2
botocore==1.10.2
certifi==2018.1.18
click==6.7
cloudpickle==0.5.2
cycler==0.10.0
dask==0.17.2
decorator==4.2.1
distributed==1.21.6
docutils==0.14
entrypoints==0.2.3
flake8==3.5.0
gast==0.2.0
grpcio==1.10.1
HeapDict==1.0.0
html5lib==0.9999999
ipdb==0.11
ipykernel==4.8.2
ipython==6.3.1
ipython-genutils==0.2.0
ipywidgets==7.2.0
jedi==0.11.1
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.0
jupyter-core==4.4.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.4
jupyter-nbextensions-configurator==0.4.0
Keras==2.1.5
kiwisolver==1.0.1
lxml==4.2.1
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.2
mccabe==0.6.1
mistune==0.8.3
more-itertools==4.1.0
msgpack-python==0.5.6
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.4.1
numpy==1.14.2
pandas==0.22.0
pandocfilters==1.4.2
parso==0.1.1
pexpect==4.4.0
pickleshare==0.7.4
pipenv==11.9.0
pluggy==0.6.0
prompt-toolkit==1.0.15
protobuf==3.5.2.post1
psutil==5.4.3
psycopg2==2.7.4
ptyprocess==0.5.2
py==1.5.3
pycodestyle==2.3.1
pycurl==7.43.0
pyflakes==1.6.0
Pygments==2.2.0
pygobject==3.28.3
pyparsing==2.2.0
pytest==3.5.0
python-dateutil==2.6.1
python-dotenv==0.8.2
pytz==2018.3
PyYAML==3.12
pyzmq==17.0.0
qtconsole==4.3.1
s3transfer==0.1.13
scikit-learn==0.19.1
scipy==1.0.1
seaborn==0.9.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
sortedcontainers==1.5.9
tblib==1.3.2
tensorboard==1.6.0
tensorflow==1.6.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
toolz==0.9.0
tornado==4.5.3
traitlets==4.3.2
virtualenv==15.2.0
virtualenv-clone==0.3.0
wcwidth==0.1.7
Werkzeug==0.14.1
widgetsnbextension==3.2.0
zict==0.1.3
